body {
    background-color: #202020;
    color: #ffffff;
    font-family: 'montserrat', sans-serif;
}



@font-face {
	font-family: 'montserrat';
	src: 
		local('Montserrat'),
		local('Montserrat-Regular'),
		url('fonts/montserrat/Montserrat-Regular.otf');
		format('opentype');  
}



.divbutton {
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: auto;
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}



input {
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #202020;
  margin: 3px;
  color: #ffffff;
  margin-right: 10px;
  margin-left: 6px;

}

a { 
  text-decoration: none;
} 