.error {
    color: #ff0000;
}
.argam {
    font-family: 'argam';
}

.argam-large {
    font-family: 'argam'; /* will be replaced with monospaced if i receieve it */
}

.button {
    text-align: center;
    font-size: 50;
    border: 1px solid white;
    cursor: pointer
}
